<button routerLink="/">Voltar</button>

<h1 class="title">Cadastro de empresa</h1>

<div class="companyFields">
    <h2 class="subTitle">Empresa</h2>
    
    <div class="fields">
        <div class="field">
            <h3 class="titleField">Nome</h3>
            <input type="text" placeholder="Digite o nome">
        </div>
        <div class="field">
            <h3 class="titleField">CNPJ</h3>
            <input type="number" placeholder="Ex: XX.XXX.XXX/0001-XX">
        </div>
    </div>
    
    <div class="addressesFields">
        <h2 class="subTitle">Endereço</h2>
        
        <div class="field">
            <h3 class="titleField">Rua</h3>
            <input type="text" placeholder="Ex: Rua tal, 123">
        </div>

        <div class="field">
            <h3 class="titleField">Bairro</h3>
            <input type="text" placeholder="Ex: Morumbi">
        </div>

        <div class="field">
            <h3 class="titleField">Cidade</h3>
            <input type="text" placeholder="Ex: São Paulo">
        </div>

        <div class="field">
            <h3 class="titleField">CEP</h3>
            <input type="number" placeholder="Ex: 01001-000">
        </div>

        <div class="field">
            <h3 class="titleField">País</h3>
            <input type="text" placeholder="Ex: Brasil">
        </div>

        <div class="field">
            <h3 class="titleField">Telefone</h3>
            <input type="text" placeholder="Ex: +55 11 9XXXXYYYY">
        </div>

    </div>
</div>