<header class="header">
<div class="headerDetail">
    <div class="vectorArea">
        <img src="../assets/VectorHeader.png" alt="background" class="backgroundVector">
    </div>
    <span routerLink="/" class="title">COMPANIES</span>
</div>

    <nav>
        <ul>
            <li>
                <span routerLink="/">Home</span>
            </li>
            <li>
                <span routerLink="/insert">Cadastrar</span>
            </li>
        </ul>
    </nav>
</header>

<main class="content">
    <router-outlet></router-outlet>
</main>