.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    background: #000;
    position: sticky;
    top: 0px;

}

.title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

.title:hover {
    color: #C1D4E1;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 20px;
    transition: 0.2s;
}

.header li:hover {
    color: #C1D4E1;
}