<div class="companyFields">
    <div class="company">

        <h2 class="subTitle">Empresa</h2>
        <div class="fields">
            <div class="field">
                <h3 class="titleField">Nome</h3>
                <input class="inputField" type="text" placeholder="Digite o nome">
            </div>
            <div class="field">
                <h3 class="titleField">CNPJ</h3>
                <input class="inputField" type="text" placeholder="Ex: XX.XXX.XXX/0001-XX">
            </div>
        </div>
    </div>

    <div class="addressesFields">
        <h2 class="subTitle">Endereço</h2>

        <div *ngFor="let address of company?.companyAddresses; let i = index">
            <div class="addressBackground">

                <div class="addressSection">

                    <div class="field">
                        <h3 class="titleField">Rua</h3>
                        <input class="inputField" type="text" placeholder="Ex: Rua tal, 123">
                    </div>

                    <div class="field">
                        <h3 class="titleField">Bairro</h3>
                        <input class="inputField" type="text" placeholder="Ex: Morumbi">
                    </div>

                    <div class="field">
                        <h3 class="titleField">Cidade</h3>
                        <input class="inputField" type="text" placeholder="Ex: São Paulo">
                    </div>

                    <div class="field">
                        <h3 class="titleField">CEP</h3>
                        <input class="inputField" type="text" placeholder="Ex: 01001-000">
                    </div>

                    <div class="field">
                        <h3 class="titleField">País</h3>
                        <input class="inputField" type="text" placeholder="Ex: Brasil">
                    </div>
                </div>

                <div class="fieldPhone">
                    <h3 class="titleField">Telefones</h3>
                    <div *ngFor="let phone of address.companyTelephones; let j = index" class="phoneSection">
                        <div class="phoneField">
                            <input class="inputField" type="text" placeholder="Ex: +55 11 9XXXXYYYY">
                            
                            <button *ngIf="j > 0" (click)="removePhone(i, j)" class="removePhone">Remover</button>
                        </div>
                    </div>
                </div>
                <button (click)="addPhone(i)" class="addPhone">Adicionar Telefone</button>
            </div>

            <button *ngIf="i > 0" class="removeAddressBtn" (click)="removeAddress(i)">Remover Endereço</button>
        </div>

        <button (click)="addAddress()" class="addAddress">Adicionar Endereço</button>

    </div>
</div>