<form (ngSubmit)="submit()" [formGroup]="companyForm" #formDir="ngForm" class="companyFields">
    <div class="company">

        <h2 class="subTitle">Empresa</h2>
        <div class="fields">
            <div class="field">
                <label class="titleField">Razão social</label>
                <input class="inputField" type="text" placeholder="Digite o nome" formControlName="name" required>
            </div>
            <div class="field">
                <label class="titleField">CNPJ</label>
                <input class="inputField" type="text" placeholder="Ex: XX.XXX.XXX/0001-XX" formControlName="document"
                    required>
            </div>
        </div>
        <div formArrayName="companyAddresses" class="addressesFields">
            <h2 class="subTitle">Endereços</h2>

            <div class="addressesFields">


                <div *ngFor="let address of getAddressesControls(); let i = index" [formGroupName]="i">
                    <h2 class="titleSection">Endereço {{ i + 1 }}</h2>

                    <div>
                        <div class="addressBackground">
                            <div class="addressSection">

                                <div class="field">
                                    <label for="street" class="titleField">Rua:</label>
                                    <input type="text" id="street" name="street" required class="inputField" placeholder="Ex: Rua tal, 123" formControlName="street">
                                
                                </div>

                                <div class="field">
                                    <label for="neighborhood" class="titleField">Bairro:</label>
                                    <input type="text" id="neighborhood" name="neighborhood" required class="inputField"
                                        placeholder="Ex: Morumbi" formControlName="neighborhood">
                                </div>

                                <div class="field">
                                    <label for="city" class="titleField">Cidade:</label>
                                    <input type="text" id="city" name="city" required class="inputField"
                                        placeholder="Ex: São Paulo" formControlName="city">
                                </div>

                                <div class="field">
                                    <label for="postalCode" class="titleField">Código Postal:</label>
                                    <input type="text" id="postalCode" name="postalCode" required class="inputField"
                                        placeholder="Ex: 01001-000" formControlName="postalCode">
                                </div>

                                <div class="field">
                                    <label for="country" class="titleField">País:</label>
                                    <input type="text" id="country" name="country" required class="inputField"
                                        placeholder="Ex: Brasil" formControlName="country">
                                </div>

                            </div>

                            <div formArrayName="companyTelephones" class="fieldPhone">
                                <label class="titleField">Telefones</label>

                                <div *ngFor="let phone of getPhonesControls(address); let j = index" [formGroupName]="j"
                                    class="phoneSection">
                                    <div class="phoneField">
                                        <input type="text" id="number" name="number" class="inputField"
                                            placeholder="Ex: (123) 456-7890" formControlName="phoneNumber">

                                        <button type="button" (click)="removePhone(address, j)"
                                            class="removePhone">Remover</button>
                                    </div>
                                </div>
                            </div>

                            <button type="button" (click)="addPhone(address)" class="addPhone">Adicionar Telefone</button>
                        </div>

                        <button type="button" *ngIf="i > 0" (click)="removeAddress(i)" class="removeAddressBtn">Remover Endereço</button>
                    </div>
                </div>

                <button type="button" (click)="addAddress()" class="addAddress">Adicionar Endereço</button>
            </div>
        </div>
    </div>
    <button type="submit" class="submitInput">Cadastrar</button>
</form>